* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  padding-top: 3rem;
  text-align: center;
  padding-bottom: 1rem;
}
.zeile {
  display: flex;
}
.flex {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0.5rem;
}
input,
label {
  font-size: 1.3rem;
  padding: 0.5rem;
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta.zu.per{
  position: absolute;
  top:20px;
  right: 90px;

}

.cta.zu:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 55px;
  height: 55px;
  transition: all 0.3s ease;
}
.cta.we:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 55px;
  height: 55px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
form {
  margin-top: 3rem;
}
.buttons {
  display: flex;
  margin-top: 3rem;
}
