@import "../fonts/spaceMono.css";

*body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container{
  display: grid;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100vh;
  width: 100vw;
  color:white;
  
}
.container .box2 {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-image: url("../images/Chef\ de\ Cozinha\ Currículo\ Simples\ com\ Foto\ \(5\).png");
  background-position: center;
  background-repeat:repeat;
  background-size: cover;

}

.box2, .boxStellenUnterBeruf, .boxStudium{
  border-right: 1px  white solid;

}

.boxName{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 1rem;
    padding-top: 0;
}
.boxName{
  margin-top:1rem;
  margin-left: 3rem;
  padding:0;

}

.h1Name, .h1Vorname{
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
  padding:0;
}



.boxCityTelEmailAlter{
    grid-column: 3/4 ;
    grid-row: 1/2 ;
    margin-top: 1.5rem;
    margin-right: 3rem;
    line-height: 1rem;
    font-size: 10px;
    justify-self: end;
    

}

.ulStartEndBeruf{
    padding-bottom:2.3rem ;
    list-style-type: none;
    justify-self: end;
}

.boxStartEndBeruf{
  grid-column: 1/2;
  grid-row: 2/3 ;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: x-small;
  justify-self: end;

}

.boxStellenUnterBeruf{
  grid-column: 2/4 ;
  grid-row: 2/4 ;
  margin-left: 1rem;
  width: 35%;
}

.boxStellenUnterBeruf h3{
  margin: 0;
  padding-bottom: 0.5rem;
  font-family: 'Space Mono', monospace;
}


ul{
  list-style-type: none;
}

.ulStellen{
  padding-bottom: .5rem;
}

.boxShulbildung{
  grid-column: 2/3;
  grid-row: 3/4 ;
  margin-top: 2.5rem;
  margin-left: 1rem;
  font-size: 15px;
}

.boxShulbildung h3{
  margin: 0;
  font-family: 'Space Mono', monospace;
}
.boxStartEndSchule{
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left: 3rem;
  margin-top: 4.5rem;
  font-size: x-small;
  justify-self: end;
}

.boxStartEndUni{
  grid-column: 1/2;
  grid-row: 4/5;
  margin-left: 3rem;
  margin-top: .1rem;
  font-size: x-small;
  justify-self: end;
}

.boxStudium{
  margin-top: 0;
  font-size: 15px;
  grid-column: 2/3;
  grid-row: 4/5;
  margin-left: 1rem;
  width: 65%;
}

.boxBorder{
  border-left: 1cm white ;
}

.boxSprache{
  grid-column: 3/4;
  grid-row: 2/3;
}

.boxSprache h3{
  margin: 0;
  font-family: 'Space Mono', monospace;
}

.boxSpracheNiveau{
  grid-column: 3/4;
  grid-row: 2/3;
  margin-left: 10rem;
}