* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 70%;
  height: auto;
  margin: auto 0;
  margin-bottom: 3rem;
}

.parent {
  background: rgba(0, 81, 161);

  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding-top: 80px;
}

.imOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 10rem; */
}
.imThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}

.button-zuruck-template {
  position: absolute;
  top: 5px;
  right: 90px;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 55px;
  height: 55px;
  transition: all 0.3s ease;
}
