@import "../fonts/sMono.css";
@import "../fonts/openSans.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.container{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 80px 90px 210px 120px;
  width: 100%;
  height: 100vh;
  background-image: url(/lebenslauf/src/images/template2.png);
  font-family: 'Space Mono', monospace, sans-serif;
}


.boxHeader{
  display: grid;
  grid-column: 1/5;
  grid-row:1/2;
  border:1px solid black;
  padding-top:1rem ;
  place-items: center;
}

.adressTelMailAlter{
  grid-column:1/3;
  grid-row:2/3;
  font-size: small;
  padding-left: 3rem;
}

.alterGeburtstag{
  grid-column:3/5;
  grid-row:2/3;
  font-size: small;
  border:1px solid black;
  padding-right: 2rem;
  padding-top: 2rem;
  direction: rtl;
}

.uberMich{
  border:1px solid black;
  grid-column:1/5;
  grid-row:3/4;
  padding-top:1rem;
  padding-left: 2rem;
  text-align: center;
  font-size: small;
}

ul li{
  list-style-type: none;


}

.boxBeruf ul, 
.boxSchulbildung ul,
.boxKentinisse ul{
 margin-bottom: .5rem;
 
}

.boxBeruf, 
.boxSchulbildung,
.boxKentinisse,
.boxHobbies{
  padding-left: 3rem;
  padding-top: 1rem;
  font-size: 13px;
  border:1px solid black;
}

.boxBeruf{
  grid-column:1/3;
  grid-row:4/5;


}

.boxBeruf h3, 
.boxSchulbildung h3, 
.boxKentinisse h3,
.boxHobbies h3{
  padding-bottom: 1rem;
}

.boxSchulbildung {

  grid-column:3/5;
  grid-row:4/5;
}

.boxKentinisse{
  grid-column:1/3;
  grid-row:5/6;


}

.boxHobbies{
  grid-column:3/5;
  grid-row:5/6;

}

.container .boxKentinisse.maisInputs{

  border:1px solid black;
  background-color: blue;


}