@import "../fonts/sMono.css";
@import "../fonts/openSans.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 120px 50px 1fr 1fr 1fr 1fr 120px;
  width: 100%;
  height: 100vh;
  font-family: 'Space Mono', monospace, sans-serif;
  color:white;
}

.boxHeader {
  display: grid;
  grid-column: 1/5;
  grid-row:1/2;
  place-items: center;
}

.boxHeader h1 {
  font-size: 50px;
}
.adressTelMailAlter {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: small;
  padding-left: 3rem;
  padding-top: 3rem;
}

.alterGeburtstag {
  grid-column: 3/5;
  grid-row: 2/3;
  font-size: small;
  padding-right: 10rem;
  padding-top: 3rem;
  direction: rtl;
}

.uberMich{
  grid-column:1/5;
  grid-row:4/5;
  padding-top: 3rem;
  padding-left: 2rem;
  text-align: center;
  font-size: small;
}

ul li,
.boxSchulbildung li {
  list-style-type: none;
  padding-left: 1rem;
}

.boxBeruf,
.boxSchulbildung,
.boxKentinisse,
.boxHobbies,
.boxSprache {
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 13px;
}

.boxBeruf {
  grid-column: 1/3;
  grid-row: 5/6;

}

.boxBeruf h3,
.boxSchulbildung h3,
.boxKentinisse h3,
.boxHobbies h3,
.boxSprache h3 {
  padding-bottom: 1rem;
}

.boxSchulbildung {
  grid-column: 3/5;
  grid-row: 5/6;
}

.boxKentinisse {
  grid-column: 1/2;
  grid-row: 6/7;
}

.boxHobbies {
  grid-column: 2/3;
  grid-row: 6/7;
}

.boxSprache {
  grid-column: 3/4;
  grid-row: 6/7;
}
.boxButton{
  position:absolute;
  right: 2px;
  bottom: 45px;
  padding-right: 15px;
}

.boxButton button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 12px;
  padding: 0.6em 1.5em;
}

.boxButton button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation:  2s infinite;
  animation:  1.5s infinite;
 }
 
 .boxNiveau{
   grid-column:3/4;
   grid-row:6/7;
   justify-self: end;
   margin-top: 4.2rem;
   padding-right: 4rem;
   font-size: small;
 }
